{% extends '::base.html.twig' %}
{% block body %}

    <div class="container">
        <div id="main">
            <div id="main_bg"></div>
            <div class="mainLeft">
                <img src="{{ news[0].getThumbWebPath('detail') }}" alt="Lorem Ipsum"/>

                <div class="desc">
                    <div class="header"><a href="{{ path('lscms_news_show', { 'slug': news[0].slug }) }}">{{ news[0].title }}</div>
                    <div class="cont">{{ news[0].getContentShort }}</div>
                    <div class="clear"></div>
                    <div class="date">Data dodania: {{ news[0].publishedat|localizeddate('short', 'none', 'pl') }}</div>
                    <a href="{{ path('lscms_news_show', { 'slug': news[0].slug }) }}" class="details">Czytaj więcej</a>
                </div>
                <a href="{{ path('lscms_news') }}" class="more">Zobacz wszystkie</a>
            </div>
            <div class="mainRight">
                {% for item in news %}
                    {% if loop.index > 1 %}
                        <div class="item">
                            <div class="inside">
                                <a href="{{ path('lscms_news_show', { 'slug': item.slug }) }}" class="insLeft">
                                    <img src="{{ item.getThumbWebPath('list') }}"/>
                                </a>
                                <div class="insRight">
                                    <a>{{ item.title }}</a>
                                    <div class="date">{{ item.publishedat|localizeddate('short', 'none', 'pl') }}</div>
                                    <div class="desc">{{ item.getContentShort }}</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="content">
            <div class="mainLeft">
                <div class="mainGallery">
                    <div class="header">
                        <span>Galerie</span>
                        <div></div>
                        <a href="{{ path('lscms_gallery') }}">Przejdź do galerii</a>
                    </div>
                    <div class="row">
                        {% for gallery in galleries %}
                        <div class="item">
                            <div class="inside">
                                <a href="{{ path('lscms_gallery_show', { 'slug': gallery.slug }) }}" class="photo">
                                    <img src="{{ gallery.photos.0.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                                </a>
                                <a href="{{ path('lscms_gallery_show', { 'slug': gallery.slug }) }}" class="title">{{ gallery.title }}</a>
                                <div class="date">{{ gallery.updatedat|localizeddate('short', 'none', 'pl') }}</div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="mainWeather">
                    <div class="header">
                        <b>Prognoza pogody</b>
                        na najbliższe dni
                    </div>

                    <div class="today">
                        <div class="image" style="background: url('{{ asset('forecast/'~data_provider.forecast().list[0].weather[0].icon~'.png') }}') no-repeat center center"></div>
                        <div class="text">
                            <span><b>Dziś,</b> {{ data_provider.forecast().list[0].dt|date("d.m.Y") }}</span>
                            <span><b>Temperatura:</b> <b class="red">{{ data_provider.forecast().list[0].temp.day|round }}°C</b></span>
                        </div>
                    </div>
                    <div class="rest">
                        {% for item in data_provider.forecast().list %}
                            {% if loop.index > 1 %}
                            <div class="item">
                                <div class="image" style="background: url('{{ asset('forecast/'~item.weather[0].icon~'.png') }}') no-repeat center center"></div>
                                <div class="text">
                                    <span><b>{{ item.dayname }}</b> {{ item.dt|date('d.m') }}</span>
                                    <span><b>Temp.:</b> <b class="red">{{ item.temp.day|round }}°C</b></span>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="mainRight">
                <div class="header">
                    <b>ORGANIZACJE</b> POZARZĄDOWE
                </div>

                {{ knp_menu_render(leftMenu) }}


                <div class="download">
                    <a href="{{ cms_config.get('wirtualny_url', '') }}">POBIERZ WZORY PISM</a>
                    <div>
                        <span><b>Zapraszamy</b></span><br/>
                        do korzystania<br/>
                        z <b>Wirtualnego Urzędu</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}