{% extends '::base.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}


{% block body %}
    <div class="container">
        <div class="content">
            <div class="mainLeft">
                <div class="header">
                    Kontakt
                </div>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('lscms_homepage') }}">Strona główna</a></li>
                    <li><span>Kontakt</span></li>
                </ul>
                <div class="contact">
                    <div class="emblem">{{ cms_config.get('herb_text', '') }}</div>
                    <div class="text">{{ cms_config.get('herb_desc', '') }}</div>
                    <div class="trio">
                        <div>
                            <div>
                                {{ cms_config.get('added_texts_address', '')|raw }}
                            </div>
                        </div>
                        <div>
                            <div>
                                <b>tel.</b> {{ cms_config.get('kontakt_phone', '') }}<br/>
                                <b>fax.</b> {{ cms_config.get('kontakt_fax', '') }}<br/>
                                <b>e-mail:</b> {{ cms_config.get('kontakt_mail', '') }}
                            </div>
                        </div>
                        <div>
                            <div>
                                <b>NIP:</b> {{ cms_config.get('kontakt_urzad_nip', '') }}<br/>
                                <b>REGON:</b> {{ cms_config.get('kontakt_urzad_regon', '') }}
                            </div>
                        </div>
                    </div>
                    <div class="duet">
                        <div>
                            <div>Gmina Sokołów Młp.</div>
                            <div>
                                <b>NIP:</b>{{ cms_config.get('kontakt_gmina_nip', '') }}<br/>
                                <b>REGON:</b> {{ cms_config.get('kontakt_gmina_regon', '') }}
                            </div>
                        </div>
                        <div>
                            <div>{{ cms_config.get('kontakt_bank', '') }}</div>
                            <div>{{ cms_config.get('kontakt_konto', '') }} </div>
                        </div>
                    </div>
                    <div class="envelope">
                        <div>
                            <img src="{{ asset('bundles/frontend/images/envelope2.png') }}"/>
                        </div>
                        <div></div>
                    </div>
                    {% if success %}
                        <div class="text" style="margin-top: 30px;">Twoja wiadomość została wysłana</div>
                    {% else %}
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate' }}) }}
                        {{ form_widget(form.name, {'attr': {'id': 'name','placeholder':'Imię i nazwisko' }}) }}
                        {{ form_widget(form.phone, {'attr': {'id': 'email','placeholder':'Numer telefonu'}}) }}
                        {{ form_widget(form.email, {'attr': {'id': 'email','placeholder':'Adres e-mail'}}) }}
                        {{ form_widget(form.content, {'attr': {'id': 'description','placeholder':'Twoja wiadomość'} } ) }}
                        <input type="submit" value="Wyślij"/>
                    {{ form_end(form) }}
                    {% endif %}
                </div>
            </div>
            {% include "LsCmsBundle::rightSide.html.twig" %}
        </div>
    </div>
{% endblock %}
