{% extends '::base.html.twig' %}

{% block title %}Nasz team - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var cords;
        var map;

        function initialize() {
            cords = new google.maps.LatLng({{ cms_config.get('kontakt_latitude', '') }}, {{ cms_config.get('kontakt_longitude', '') }});
            var mapOptions = {
                zoom: 11,
                center: cords,
                panControl: false,
                zoomControl: false,
                scaleControl: false,
                mapTypeControl: false,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(
                    document.getElementById('map'),
                    mapOptions
            );
            var marker = new google.maps.Marker({
                position: cords,
                map: map,
                title: '{{ cms_config.get('kontakt_nazwa_top', '') }} {{ cms_config.get('kontakt_nazwa_bottom', '') }}'
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}

{% block underside %}
    <div id="underside">
        <div id="ladies" class="lady_2"></div>
    </div>
    <div id="underside_cloud" class="team"></div>
{% endblock %}

{% block body %}
    <div id="base">
        <h1 class="header team">Nasz team</h1>

        <div id="first_content">
            <div class="team">
                <div class="content">{{ cms_config.get('added_texts_our_team', '')|raw }}</div>
                <div class="column">
                    {% for item in first_column %}
                        <div class="item">
                            <div class="photo">
                                {% if item.getPhotoWebPath('list') %}
                                    <img src="{{ item.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                                    <div class="mask"></div>
                                {% endif %}
                            </div>
                            <div class="firstname">{{ item.firstname }}</div>
                            <div class="lastname">{{ item.lastname }}</div>
                            <div class="desc">{{ item.content|raw }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                    {% for item in second_column %}
                        <div class="item">
                            <div class="photo">
                                {% if item.getPhotoWebPath('list') %}
                                    <img src="{{ item.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                                    <div class="mask"></div>
                                {% endif %}
                            </div>
                            <div class="firstname">{{ item.firstname }}</div>
                            <div class="lastname">{{ item.lastname }}</div>
                            <div class="desc">{{ item.content|raw }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clear"></div>
        {% include "LsCmsBundle::dietetic-banner.html.twig" %}
        <div id="second_content">
            {% include "LsCmsBundle::second-content.html.twig" with { news: news } %}
        </div>
        {% include "LsCmsBundle::overside.html.twig" with { class: 'team' } %}
    </div>
{% endblock %}
