{% extends '::base.html.twig' %}

{% block title %}Referencje - {{ parent() }}{% endblock %}


{% block body %}
    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Referencje</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image references"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_references') }}">Referencje</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="references" class="wideBox">
            <ul>
                {% for entity in entities %}
                <li>
                    <section class="img"><div><img src="{{ entity.getThumbWebPath('list') }}" alt=""/></div></section>
                    <section class="name"><a href="{{ entity.getPhotoWebPath() }}" class="fancybox" rel="fancybox">{{ entity.name }}</a></section>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
