{% extends '::base.html.twig' %}

{% block title %}Szukaj - {{ parent() }}{% endblock %}


{% block body %}

    <div class="container">
        <div class="content">
            <div class="mainLeft">
                <div class="header">
                    Wyniki wyszukiwania
                </div>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('lscms_homepage') }}">Strona główna</a></li>
                    <li><span>Wyniki wyszukiwania</span></li>
                </ul>
                <div class="search">
                    <div class="results">
                        Wyniki wyszukiwania dla frazy: “{{ query }}”. Znalezionych pozycji {{ entities|length }}
                    </div>
                    {% for result in entities %}
                        {% set targetHref = url(result.type, { 'slug': result.parameters.slug })  %}
                        <div class="item">
                            <a href="{{ targetHref }}" class="title">
                                {{ result.title }}
                            </a>
                            <a href="{{ targetHref }}" class="link">
                                {{ targetHref }}
                            </a>
                            <div class="clear"></div>
                            <div class="text">
                                {{ result.text }}
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
            <div class="mainRight">
                <div class="header">
                    <b>ORGANIZACJE</b> POZARZĄDOWE
                </div>
                {{ knp_menu_render(leftMenu) }}
                <div class="download">
                    <a href="{{ cms_config.get('wirtualny_url', '') }}">POBIERZ WZORY PISM</a>
                    <div>
                        <span><b>Zapraszamy</b></span><br/>
                        do korzystania<br/>
                        z <b>Wirtualnego Urzędu</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}