{% if pattern == 1 %}
    <div class="tile wide">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('detail') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>
    </div>
{% endif %}

{% if pattern == 2 %}
    <div class="tile narrow">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('list') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>
    </div>

    <div class="filler-md"></div>
    <div class="filler-sd"></div>
    <div class="filler-md"></div>
    <div class="filler-sd"></div>
{% endif %}


{% if pattern == 3 %}
    <div class="tile narrow">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('list') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>
    </div>
{% endif %}


{% if pattern == 4 %}
    <div class="tile narrow">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('list') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>

    </div>
    <div class="filler-sd"></div>
    <div class="filler-ld"></div>
    <div class="filler-md"></div>

    <div class="filler-sd"></div>
    <div class="filler-md"></div>
{% endif %}


{% if pattern == 5 %}
    <div class="tile narrow">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('list') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>

    </div>
    <div class="filler-ld"></div>
{% endif %}

{% if pattern == 6 %}
    <div class="tile narrow">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('list') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>

    </div>
    <div class="filler-sd"></div>
    <div class="filler-md"></div>
{% endif %}

{% if pattern == 7 %}
    <div class="tile wide">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('detail') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>
    </div>
    <div class="filler-sd"></div>
    <div class="filler-md"></div>
{% endif %}

{% if pattern == 8 %}
    <div class="tile narrow">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('list') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>

    </div>
{% endif %}


{% if pattern == 9 %}
    <div class="tile narrow">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('list') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>

    </div>
    <div class="filler-ld"></div>
    <div class="filler-md"></div>
    <div class="filler-md"></div>
    <div class="filler-sd"></div>
    <div class="filler-sd"></div>
{% endif %}

{% if pattern == 10 %}
    <div class="tile narrow">
        <div class="img">
            <img src="{{ entity.getThumbWebPath('list') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time style="background-color: #{{ entity.category.color }};">{{ entity.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:entity.getSlug}) }}" class="lead">{{ entity.getTitle() }}</a>
        </div>

    </div>
{% endif %}