<div id="dietetic_banner_container">
<div id="dietetic_banner">
    <div class="header">Porady dietetyczne</div>
    <div class="desc">Dowiedz się, jaki wpływ na Twoje zdrowie mają produkty, które jesz na codzień!</div>
    <div class="clear"></div>
    <a href="{{ path('lscms_dietetyk') }}" class="link">
        <img src="{{ asset('bundles/lscms/images/arrow2.png') }}"/>
    </a>
</div>
</div>
