    {% for photo in photos %}
        <a href="{{ photo.getPhotoWebPath() }}" class="fancybox item" rel="fancybox">
            <img src="{{ photo.getThumbWebPath('detail') }}?{{ random(10000) }}"/>
            <span class="mask"></span>
        </a>
    {% endfor %}
