{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
<div class="pager">

    {% if previous is defined %}

    <a class="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"></a>
    {% else %}
    {#<span class="left">&nbsp;</span>#}
    {% endif %}
    {% for page in pagesInRange %}
    {% if page != current %}
    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
    {% else %}
    <span>{{ page }}</span>
    {% endif %}
    {% endfor %}
    {% if next is defined %}
    <a class="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"></a>
    {% else %}
   {# <span class="right">&nbsp;</span>#}
    {% endif %}

</div>
{% endif %}

{#<div class="pager">
                    <a href="#" class="prev"></a>
                    <a href="#">1</a>
                    <span>2</span>
                    <a href="#">3</a>
                    <a href="#" class="next"></a>
                </div>#}