{# default Sliding pagination control implementation #}
{% if pageCount > 1 %}
<div class="paginate">
    {% if previous is defined %}
    <a class="left" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" onclick="return changePage({{ previous }});">&nbsp;</a>
    {% else %}
    <span class="left">&nbsp;</span>
    {% endif %}
    {% for page in pagesInRange %}
    {% if page != current %}
    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}" onclick="return changePage({{ page }});">{{ page }}</a>
    {% else %}
    <span class="active">{{ page }}</span>
    {% endif %}
    {% endfor %}
    {% if next is defined %}
    <a class="right" href="{{ path(route, query|merge({(pageParameterName): next})) }}" onclick="return changePage({{ next }});">&nbsp;</a>
    {% else %}
    <span class="right">&nbsp;</span>
    {% endif %}
</div>
{% endif %}
