{#
<section class="sidebar navbar navbar-default">
    <header>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <span class="title">{{ label }}</span>
    </header>
    <div class="wrap" id="bs-sidebar-collapse">

        <ul>
            {% for category in categories %}
            <li style="{% if category.getMenuBgImg %} background-image: url('{{ category.getMenuBgPath }}'); {% endif %} background-color: #{{ category.getColor }}; background-size: auto 100%;" >
                <a href="{{ path('lscms_category_activity',{slug:category.getSlug()}) }}">{{ category.getName }}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="contact">
            <div class="img">
                <img src="{{ asset('bundles/frontend/img/contact.jpg') }}" alt=""/>
            </div>
            <div class="text-wrapper">
                <a href="{{ path('lscms_kontakt') }}">Kontakt</a>
            </div>
        </div>
    </div>
</section>#}
<div class="mainRight">
    <div class="header blue">
        <b>GMINA I MIASTO</b>
    </div>
    {#<ul class="blue">
        <li><a>Inwestycje</a></li>
        <li><a>Poznaj miasto i gminę</a></li>
        <li><a>Burmistrz</a></li>
        <li><a>Rada Miejska</a></li>
        <li><a>Urząd Gminy i Miasta</a></li>
        <li><a>Lokalne przepisy prawne</a></li>
        <li><a>Przetargi i ogłoszenia</a></li>
        <li><a>Miasta partnerskie</a></li>
        <li><a>Ochrona środowiska</a></li>
    </ul>#}
    {{ knp_menu_render(sideMenu) }}
    <div class="header">
        <b>ORGANIZACJE</b> POZARZĄDOWE
    </div>
    {#<ul>
        <li><a>Lokalna Grupa Działania</a></li>
        <li><a>Towarzystko Miłośników Ziemi Sokołowskiej</a></li>
        <li><a>Stowarzyszenia</a></li>
        <li><a>OSP</a></li>
        <li><a>Organizacje Pożytku Publicznego - 1% podatku</a></li>
    </ul>#}
    {{ knp_menu_render(leftMenu) }}
    <div class="download">
        <a href="{{ cms_config.get('wirtualny_url', '') }}">POBIERZ WZORY PISM</a>
        <div>
            <span><b>Zapraszamy</b></span><br/>
            do korzystania<br/>
            z <b>Wirtualnego Urzędu</b>
        </div>
    </div>
</div>