{% extends '::base.html.twig' %}

{% block title %}Galeria - {{ parent() }}{% endblock %}


{% block body %}
    {#<div id="base">
        <h1 class="header">Galeria</h1>

        <div id="first_content">
            <div class="gallery">
                <div class="column">
                    {% for item in first_column %}
                        <div class="item">
                            <a class="photo" href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}">
                                {% if item.photos.0.getPhotoWebPath %}
                                    <img src="{{ item.photos.0.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                                    <div class="mask"></div>
                                {% endif %}
                            </a>
                            <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="header">{{ item.title }}</a>

                            <div class="desc">{{ item.contentshort }}</div>
                            <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="more">Zobacz więcej</a>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                    {% for item in second_column %}
                        <div class="item">
                            <a class="photo" href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}">
                                {% if item.photos.0.getPhotoWebPath %}
                                    <img src="{{ item.photos.0.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                                    <div class="mask"></div>
                                {% endif %}
                            </a>
                            <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="header">{{ item.title }}</a>

                            <div class="desc">{{ item.contentshort }}</div>
                            <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="more">Zobacz więcej</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="clear"></div>



    </div>#}
    <div class="container">
        <div class="content">
            <div class="mainLeft">
                <div class="header">
                    Galeria
                </div>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('lscms_homepage') }}">Strona główna</a></li>

                    <li><span>Galeria</span></li>
                </ul>
                <div class="gallery">
                    {% for item in entities %}
                        <div class="item">
                            <div class="inside">
                                <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="photo">
                                    <img src="{{ item.photos.0.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                                </a>
                                <div class="right">
                                    <a href="{{ path('lscms_gallery_show', { 'slug': item.slug }) }}" class="title">{{ item.title }}</a>
                                    <div class="clear"></div>
                                    <div class="date">{{ item.updatedat|localizeddate('short', 'none', 'pl') }}</div>
                                    <div class="count">{{ item.photos|length }} zdjęć</div>
                                    <div class="clear"></div>
                                    <div class="desc">{{ item.getContentShort }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ knp_pagination_render(entities) }}
            </div>
            {% include "LsCmsBundle::rightSide.html.twig" %}
        </div>
    </div>
{% endblock %}
