{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}


{% block body %}

    <div class="container">
        <div class="content">
            <div class="mainLeft">
                <div class="header">
                    {{ entity.title }}
                </div>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('lscms_homepage') }}">Strona główna</a></li>
                    <li><a href="{{ path('lscms_gallery') }}">Galeria</a></li>
                    <li><span>{{ entity.title }}</span></li>
                </ul>
                <div class="page">
                    {{ entity.content|raw }}
                </div>

                <div class="gallery-details">

                    {% include "LsCmsBundle::gallery.html.twig" with { photos: photos } %}

                </div>
                {{ knp_pagination_render(photos) }}
            </div>
            {% include "LsCmsBundle::rightSide.html.twig" %}
        </div>
    </div>

{% endblock %}
