{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block form %}
<script type="text/javascript">
    var searchServices = JSON.parse('{{ form['searchServices'].vars.value|raw }}');
    var routeParameters = '{{ form['routeParameters'].vars.value|raw }}';
    var routeparameters_url = '{{ admin.generateUrl('routeparameters') }}';
    var current_route = $('#{{ admin.uniqid }}_route').val();
    var location_input = '#{{ admin.uniqid }}_location';

    function populateRouteParametersSelect() {
        select_element = $('#{{ admin.uniqid }}_routeParameters_choice');

        $.ajax({
            type: 'POST',
            dataType: 'html',
            url: routeparameters_url,
            data: {
                route: current_route,
                search: ''
            },
            success:
                    function(ret) {
                        $('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice').show();
                        select_element.html(ret);
                        select_element.find('option').removeAttr('selected');
                        select_element.find('option[value="' + routeParameters + '"]').attr('selected', 'selected');
                    }
        });

    }
    jQuery(function() {
        $('#{{ admin.uniqid }}_type').change(function() {
            // hide all choices
            $('#sonata-ba-field-container-{{ admin.uniqid }}_route').hide();
            $('#sonata-ba-field-container-{{ admin.uniqid }}_url').hide();
            $('#sonata-ba-field-container-{{ admin.uniqid }}_onclick').hide();

            // show only selected
            val = $(this).val();

            switch (val) {
                case 'url':
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_url').show();
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice').hide();
                    $('#{{ admin.uniqid }}_routeParameters').val('');
                    break;

                case 'route':
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_route').show();
                    break;

                case 'button':
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_onclick').show();
                    $('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice').hide();
                    $('#{{ admin.uniqid }}_routeParameters').val('');
                    break;
            }

        }).change();

        $('#{{ admin.uniqid }}_route').change(function() {
            $('#sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice').hide();
            current_route = $(this).val();
            // show routeParameters select if module is searchable
            if ($('#sonata-ba-field-container-{{ admin.uniqid }}_route').is(':visible')) {
                if (searchServices[current_route] !== null) {
                    populateRouteParametersSelect();
                }
            } else {
                $('#{{ admin.uniqid }}_routeParameters').val('');
            }
        }).change();

        $('#{{ admin.uniqid }}_routeParameters_choice').change(function() {
            $('#{{ admin.uniqid }}_routeParameters').val($(this).val());
        });

        $('form#{{ admin.uniqid }}_form').submit(function(e) {
            e.preventDefault();

            action = $('form#{{ admin.uniqid }}_form').attr('action');
            data = $('form#{{ admin.uniqid }}_form').serialize();

            $.ajax({
                type: 'POST',
                url: action,
                data: data,
                success: function(ret) {
                    if (ret.result === 'ok') {
                        if ((saveMenuItemCallback !== undefined) && (typeof saveMenuItemCallback === 'function')) {
                            saveMenuItemCallback(ret);
                        } else {
                            alert('ok');
                        }
                    } else {
                        $('form#{{ admin.uniqid }}_form').parent('div').html(ret);
                    }

                }
            });
        });
    });
    </script>

    {% set url = admin.id(object) ? 'edit' : 'create' %}
    {% if not admin.hasRoute(url)%}
    <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form id="{{ admin.uniqid }}_form" class="form-horizontal" action="{{ admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass') }) }}" {{ form_enctype(form) }} method="POST">
            {% if form.vars.errors|length > 0 %}
                <div class="sonata-ba-form-error">
                    {{ form_errors(form) }}
                    </div>
            {% endif %}

            {% block sonata_pre_fieldsets %}
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                        {% for name, form_group in admin.formgroups %}
                                <li class="{% if loop.first %}active{% endif %}">
                                    <a href="#{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab">
                                        <i class="icon-exclamation-sign has-errors hide"></i>
                                    {{ admin.trans(name) }}
                                    </a>
                                </li>
                        {% endfor %}
                            </ul>
            {% endblock %}

                            <div class="tab-content">
                    {% for name, form_group in admin.formgroups %}
                                    <div class="tab-pane {% if loop.first %} active{% endif %}" id="{{ admin.uniqid }}_{{ loop.index }}">
                                        <fieldset>
                                            <div class="sonata-ba-collapsed-fields">
                                    {% if form_group.description != false %}
                                                    <p>{{ form_group.description|raw }}</p>
                                    {% endif %}

                                    {% for field_name in form_group.fields %}
                                        {% if admin.formfielddescriptions[field_name] is defined %}
                                            {{ form_row(form[field_name])}}
                                        {% endif %}
                                    {% endfor %}
                                                    <div class="control-group" id="sonata-ba-field-container-{{ admin.uniqid }}_routeParameters_choice" style="display: block;">
                                                        <label class="control-label" for="{{ admin.uniqid }}_routeParameters_choice">Wybierz</label>
                                                        <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">
                                                            <select id="{{ admin.uniqid }}_routeParameters_choice"  class="span5">
                                                                <option value=""></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                    {% endfor %}
                                    </div>

            {% block sonata_post_fieldsets %}
                                </div>
            {% endblock %}

            {{ form_rest(form) }}

            {% block formactions %}
                                <div class="well form-actions">
                    {% if app.request.isxmlhttprequest %}
                        {% if admin.id(object) %}
                                        <input type="submit" class="btn btn-primary" name="btn_update" value="{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}"/>
                            {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                            {% endif %}
                        {% else %}
                                        <input type="submit" class="btn" name="btn_create" value="{{ 'btn_create'|trans({}, 'SonataAdminBundle') }}"/>
                        {% endif %}
                    {% else %}
                        {% if admin.supportsPreviewMode %}
                                        <input class="btn btn-info persist-preview" name="btn_preview" type="submit" value="{{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}"/>
                        {% endif %}
                        {% if admin.id(object) %}
                                        <input type="submit" class="btn btn-primary" name="btn_update_and_edit" value="{{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>

                            {% if admin.hasroute('list') %}
                                        <input type="submit" class="btn" name="btn_update_and_list" value="{{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}"/>
                            {% endif %}

                            {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                            {% endif %}
                        {% else %}
                                        <input class="btn btn-primary" type="submit" name="btn_create_and_edit" value="{{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}"/>
                                        <input type="submit" class="btn" name="btn_create_and_list" value="{{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}"/>
                                        <input class="btn" type="submit" name="btn_create_and_create" value="{{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}"/>
                        {% endif %}
                    {% endif %}
                                    </div>
            {% endblock formactions %}
                                </form>
    {% endif%}

{% endblock %}
