.editor {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    margin: 10px;
    width: 658px;
}

a {
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
    color: #3f9844;
}

a:hover {
    text-decoration: underline;
}

p {
    margin: 0px;
    padding: 0px;
    line-height: 24px;
    font-size: 12px;
    color: #838383;
}

span.red {
    color: #ef163f;
}

span.green {
    color: #3f9844;
}

p.header {
    margin: 0px;
    padding: 0px;
    line-height: 60px;
    font-size: 36px;
    color: #ef163f;
    font-family: 'raleway_extralight';
}

div.quote {
    display: inline-block;
    position: relative;
    left: -30px;
    padding: 25px 35px;
    line-height: 24px;
    color: #7b7b7b;
    -webkit-border-radius: 0px 20px 20px 0px;
    -moz-border-radius: 0px 20px 20px 0px;
    border-radius: 0px 20px 20px 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .29);
    border-top: solid 1px rgba(223, 223, 223, .27);
    border-right: solid 1px rgba(223, 223, 223, .27);
    border-bottom: solid 1px rgba(223, 223, 223, .27);
    margin: 0px 0px 0px 30px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0); /* IE6-9 */
}

div.quote:before {
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: -1px;
    left: -30px;
    bottom: -2px;
    content: "";
    width: 30px;
    background-color: #ef163f;
    display: block;
}

.editor ul,
#first_content ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.editor ul li,
#first_content ul li {
    background: transparent url('../images/li_sign.png') no-repeat -2px 9px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    padding: 0px 0px 0px 20px;
    margin: 0px;
    color: #ef163f;
}
