.pseudo-select {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border: solid 1px #c3ffc7;
    background-color: #ffffff;
    -webkit-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    position: relative;
}

.pseudo-select-selected {
    float: left;
    line-height: 24px;
    height: 24px;
    padding: 10px 14px;
    overflow: hidden;
    cursor: pointer;
}

.pseudo-select-arrow {
    background: transparent url('../images/pseudo_select_arrow.png') no-repeat left top;
    width: 41px;
    height: 44px;
    float: left;
    cursor: pointer;
}

.pseudo-select-list {
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    border-top: solid 1px #c3ffc7;
    border-left: solid 1px #c3ffc7;
    border-bottom: solid 1px #c3ffc7;
    border-right: none;
    background-color: #ffffff;
    -webkit-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    box-shadow: inset -1px 2px 6px rgba(0, 0, 0, .25);
    display: none;
    position: absolute;
    left: 0px;
    top: 48px;
    overflow: auto;
    z-index: 9999;
    max-height: 199px;
}

.pseudo-select-list-item {
    border-bottom: 1px solid #e3e3e3;
    line-height: 39px;
    height: 39px;
    font-size: 12px;
    color: #8d8c8d;
    padding: 0px 14px;
    cursor: pointer;
}

.pseudo-select-list-item-last {
    border-bottom: none;
}

.pseudo-select-list-item:hover {
    color: #f68a1f;
}
