/**
* Stylish Select 0.4.9 - $ plugin to replace a select drop down box with a stylable unordered list
* http://github.com/scottdarby/Stylish-Select/
* 
* Copyright (c) 2009 Scott Darby
* 
* Requires: jQuery 1.3 or newer
* 
* Dual licensed under the MIT and GPL licenses.
*/

/**
* Hide lists on page load
---------------------------------------------------------*/

.stylish-select .SSContainerDivWrapper {
    left:-9999px;
}

/*
* Red example
---------------------------------------------------------*/
.stylish-select .SSContainerDivWrapper {
    margin:0;
    padding:0;
    width:125px;
    position:absolute;
    top:22px;
    left:0;
    z-index:2;
}

.stylish-select ul.newList {
    margin:0;
    padding:0;
    list-style:none;
    color:#000;
    background:#fff;
    border:1px solid #ccc;
    overflow:auto;
}

.stylish-select ul.newList * {
    margin:0;
    padding:0;
}


.stylish-select ul.newList a {
    color: #000;
    text-decoration:none;
    display:block;
    padding:3px 8px;
}

.stylish-select .newListSelected {
    width:125px;
    color:#000;
    height:44px;
    padding: 0;
    float:left;
    background:url("../images/sselect.png") no-repeat 0 0;
}

.stylish-select ul.newList li a:focus {
    -moz-outline-style: none;
    outline: 0;
}

.stylish-select .selectedTxt {
    width:85px;
    overflow:hidden;
    height:24px;
    margin: 0;
    padding: 10px 40px 10px 0;
    line-height: 24px;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #3f9844;
}

.stylish-select .hiLite {
    background:#3f9844!important;
    color:#fff!important;
}

.stylish-select .newListHover {
    background:#ccc!important;
    color:#000!important;
    cursor:default;
}

.stylish-select .newListDisabled {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.stylish-select .newListItemDisabled {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.stylish-select .newListOptionDisabled {
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
}

.stylish-select .newListSelHover,
.stylish-select .newListSelFocus {
    cursor:default;
}

.stylish-select .newListOptionTitle {
    font-weight:bold;
}

.stylish-select .newListOptionTitle ul {
    margin:3px 0 0;
}

.stylish-select .newListOptionTitle li {
    font-weight:normal;
}