<!DOCTYPE html>
<html>
    <head>
        {% block meta %}
            <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
            <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
            <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>
        {% endblock %}
        {% block stylesheets %}
            <link type="text/css" href="{{ asset('bundles/frontend/css/style.css') }}" rel="stylesheet" />
            <link type="text/css" href="{{ asset('bundles/frontend/js/fancybox/jquery.fancybox-1.3.4.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/png" href="{{ asset('bundles/frontend/images/favicon.ico') }}"/>
        <link rel="shortcut icon" href="{{ asset('bundles/frontend/images/favicon.ico') }}" type="image/x-icon"/>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery-1.8.3.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/fancybox/jquery.fancybox-1.3.4.pack.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery.cycle2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/jquery.cycle2.carousel.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/frontend/js/core.js') }}"></script>
        {% endblock %}
    </head>
    {% set menuTop = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_top'}) %}
    {% set menuBottom = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'menu_bottom'}) %}
    {% set leftMenu = knp_menu_get('LsCmsBundle:Builder:managedMenu', [], {'location': 'left_menu'}) %}
    {% set sideMenu = knp_menu_get('LsCmsBundle:Builder:sideMenu', []) %}
    <body class="main">
    <div id="top">
        <div class="container">
            <div class="topLeft">
                <a id="tree"  href="{{ cms_config.get('tree_url', '') }}"></a>
                <a id="envelope" href="{{ path('lscms_kontakt') }}"></a>
            </div>
            <div class="topCenter">
                <a id="logo" href="/">
                    <img src="{{ asset('bundles/frontend/images/logo.png') }}" alt="Logo"/>
                </a>
            </div>
            <div class="topRight">
                <a id="bip" title="Lorem Ipsum" href="{{ cms_config.get('bip_url', '') }}"></a>
                <div class="clear"></div>
                <form id="search" action="{{ path('lscms_search') }}">
                    <input type="text" name="q" placeholder="Szukaj w serwisie"/>
                    <input type="submit" value=""/>
                </form>
            </div>
            <div class="clear"></div>

            {{ knp_menu_render(menuTop,{'currentClass':'active'}) }}


        </div>
    </div>
    <div id="base">
        {% block body %}

        {% endblock %}
    </div>
    <div id="links">
        <div class="container">
            <div class="header">Ważne linki</div>
            <ul id="slider" class="cycle-slideshow"
                data-cycle-fx=carousel
                data-cycle-timeout=2000
                data-cycle-slides="> li"
                data-cycle-next="#next"
                data-cycle-prev="#prev">

                {% for item in data_provider.slider() %}
                    <li>
                        <a href="{{ item.url }}" target="_new"><img src="{{ item.getThumbWebPath('list') }}"/></a>
                    </li>
                {% endfor %}

                <div id="prev"></div>
                <div id="next"></div>
            </ul>
        </div>
    </div>
    {% block footer %}
    <div id="footer">
        <div class="container">
            {{ knp_menu_render(menuTop,{'template': 'LsCmsBundle:Admin:knp_menu_bottom.html.twig'}) }}
            {#<table>
                <tr>
                    <td>
                        <a href="#">Gmina i miasto</a>
                        <ul>
                            <li><a href="#">Inwestycje</a></li>
                            <li><a href="#">Poznaj miasto i gminę</a></li>
                            <li><a href="#">Burmistrz</a></li>
                            <li><a href="#">Rada Miejska</a></li>
                            <li><a href="#">Urząd Gminy i Miasta</a></li>
                            <li><a href="#">Lokalne przepisy prawne</a></li>
                            <li><a href="#">Przetargi i ogłoszenia</a></li>
                            <li><a href="#">Miasta partnerskie</a></li>
                            <li><a href="#">Ochrona środowiska</a></li>
                        </ul>
                    </td>
                    <td>
                        <a href="#">Urząd</a>
                        <ul>
                            <li><a href="#">Wirtualny urząd</a></li>
                            <li><a href="#">Gdzie załatwić sprawę</a></li>
                        </ul>
                    </td>
                    <td>
                        <a href="#">Kultura, turystyka</a>
                        <ul>
                            <li><a href="#">Turystyka, sport i rekreacja</a></li>
                            <li><a href="#">Kultura</a></li>
                            <li><a href="#">Oświata</a></li>
                        </ul>
                    </td>
                    <td>
                        <a href="#">Mieszkańcy</a>
                        <ul>
                            <li><a href="#">Ochrona zdrowia</a></li>
                            <li><a href="#">Pomoc społeczna</a></li>
                        </ul>
                    </td>
                    <td>
                        <a href="#">Galeria</a>
                    </td>
                    <td>
                        <a href="#">Kontakt</a>
                    </td>
                </tr>
            </table>#}

        </div>
    </div>

    <div id="copyrights">
        <div class="container">
            <div class="copyrights">© Copyrights 2013, Wszelkie prawa zastrzeżone przez <a href="#">Sokołów Małopolski</a>.</div>
            <div class="realisation">Projekt i realizacja: <a href="#">Lemonade Studio</a></div>
        </div>
    </div>
    {% endblock %}
    
    </body>
</html>
