{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}


    <div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Usługi</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image subpage"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_services') }}">Usługi</a></li>
                <li><a href="{{ path('lscms_services_category',{slug:entity.category.slug}) }}">{{ entity.category.title }}</a></li>
                <li><a href="{{ path('lscms_services_detail',{catslug:entity.category.slug,slug: entity.slug}) }}">{{ entity.title }}</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}

        <div class="wideBox alignSidebarRight">
            <section class="pageContent">
                <div class="title"><h2>{{ entity.title }}</h2></div>
                {#{% if (entity.getPhotoWebPath) %}
                            <a href="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" class="leading-photo fancybox">
                                <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}"/>
                            </a>
                        {% endif %}#}
                {{ entity.content|raw }}
            </section>
            <section class="sidebarRight">
                <div class="galleryItem realisationInfo">
                    <div class="header">Szacowany czas realizacji:</div>
                    <div class="realisationTime">{{ entity.time }}</div>
                    <div class="price">Cena od: <span class="value">{{ entity.price }}</span></div>
                </div>
                {% if entity.gallery %}
                    {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.gallery.photos|slice(0,2) } %}
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}
