{% extends '::base.html.twig' %}

{% block title %}Wirtualny urząd - {{ parent() }}{% endblock %}



{% block body %}

    <div class="container">
        <div class="content">
            <div class="mainLeft">
                <div class="header">
                    Wirtualny urząd
                </div>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('lscms_homepage') }}">Strona główna</a></li>
                    <li><span>Wirtualny urząd</span></li>
                </ul>
                <div class="virtual">
                    {% for entity in entities %}
                    <a href="{{ path('lscms_services_category',{slug:entity.slug}) }}">{{ entity.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="mainRight">
                <div class="header">
                    <b>ORGANIZACJE</b> POZARZĄDOWE
                </div>
                {#<ul>
                    <li><a>Lokalna Grupa Działania</a></li>
                    <li><a>Towarzystko Miłośników Ziemi Sokołowskiej</a></li>
                    <li><a>Stowarzyszenia</a></li>
                    <li><a>OSP</a></li>
                    <li><a>Organizacje Pożytku Publicznego - 1% podatku</a></li>
                </ul>#}
                {{ knp_menu_render(leftMenu) }}
                <div class="download">
                    <a href="{{ cms_config.get('wirtualny_url', '') }}">POBIERZ WZORY PISM</a>
                    <div>
                        <span><b>Zapraszamy</b></span><br/>
                        do korzystania<br/>
                        z <b>Wirtualnego Urzędu</b>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
