{% extends '::base.html.twig' %}

{% block title %}Wirtualny urząd - {{ parent() }}{% endblock %}



{% block body %}

    {#<div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Usługi</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image services"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_services') }}">Usługi</a></li>
                <li><a href="{{ path('lscms_services_category',{slug:category.slug}) }}">{{ category.title }}</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="servicesSubcategories" class="wideBox listing">
            <ul>
                {% for entity in entities %}
                <li>
                    <div class="content">
                        <div class="title"><h2><a href="{{ path('lscms_services_detail',{catslug:category.slug,slug:entity.slug}) }}">{{ entity.title }}</a></h2></div>
                        <div class="lead">
                            {{ entity.contentShort|raw }}
                        </div>
                    </div>
                    <figure><a href="{{ path('lscms_services_detail',{catslug:category.slug,slug:entity.slug}) }}"><img src="{{ entity.getThumbWebPath('list') }}" alt=""/></a></figure>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>#}

    <div class="container">
        <div class="content">
            <div class="mainLeft">
                <div class="header">
                    {{ category.title }}
                </div>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('lscms_homepage') }}">Strona główna</a></li>
                    <li><a href="{{ path('lscms_services') }}">Wirtualny urząd</a></li>
                    <li><span>{{ category.title }}</span></li>
                </ul>
                <div class="virtual-details">

                    {% for entity in entities %}
                    <a href="{{ entity.getFileWebPath() }}">{{ entity.title }}<span>pobierz</span></a>
                    {% endfor %}

                </div>
            </div>
            <div class="mainRight">
                <div class="header">
                    <b>ORGANIZACJE</b> POZARZĄDOWE
                </div>
                {#<ul>
                    <li><a>Lokalna Grupa Działania</a></li>
                    <li><a>Towarzystko Miłośników Ziemi Sokołowskiej</a></li>
                    <li><a>Stowarzyszenia</a></li>
                    <li><a>OSP</a></li>
                    <li><a>Organizacje Pożytku Publicznego - 1% podatku</a></li>
                </ul>#}
                {{ knp_menu_render(leftMenu) }}
                <div class="download">
                    <a href="{{ cms_config.get('wirtualny_url', '') }}">POBIERZ WZORY PISM</a>
                    <div>
                        <span><b>Zapraszamy</b></span><br/>
                        do korzystania<br/>
                        z <b>Wirtualnego Urzędu</b>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
