@import 'font/font.css';

body { 
    width: 100%;
    min-width: 980px;
    position: relative;
    margin: 0;
    padding: 0;
    background: url('../images/bg.png') no-repeat center 166px;
}
body.main { 
    background: url('../images/bg_main.png') no-repeat center 166px;
}
.clear {
    clear: both;
}
a, a:visited {
    transition: color 0.5s ease;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
::-webkit-input-placeholder { color:#303030; }
::-moz-placeholder { color:#303030; }
:-ms-input-placeholder { color:#303030; }
input:-moz-placeholder { color:#303030; }
.container {
    width: 980px;
    margin: 0 auto;
    height: inherit;
    position: relative;
    z-index: 0;
}
#top .container {
    z-index: 1;
}
#top { 
    width: 100%;
    min-width: 980px;
    height: 196px;
    margin: 0 0 52px;
    text-align: center;
}
#top .topLeft { 
    float: left;
    height: 132px;
    width: 245px;
    overflow: hidden;
}
#top .topLeft #tree { 
    float: left;
    height: 16px;
    width: 15px;
    overflow: hidden;
    margin: 18px 0 0 9px;
    background: url('../images/tree.png') no-repeat 0 0;
}
#top .topLeft #envelope { 
    float: left;
    height: 12px;
    width: 16px;
    overflow: hidden;
    margin: 21px 0 0 9px;
    background: url('../images/envelope.png') no-repeat 0 0;
}
#top .topCenter { 
    float: left;
    height: 134px;
    width: 490px;
    overflow: hidden;
    text-align: center;
}
#top .topCenter #logo { 
    display: inline-block;
    margin: 23px 0 0 0;
    overflow: hidden;
}
#top .topCenter #logo * { 
    display: block;
}
#top .topRight { 
    float: left;
    height: 132px;
    width: 245px;
    overflow: hidden;
}
#top .topRight #bip { 
    float: right;
    height: 42px;
    width: 119px;
    overflow: hidden;
    margin: 39px 62px 24px 0;
    background: url('../images/bip.png') no-repeat 0 0;
}
#top .topRight #search { 
    float: right;
    height: 27px;
    width: 186px;
    overflow: hidden;
    margin: 0 59px 0 0;
    background: url('../images/bip.png') no-repeat 0 0;
}
#top .topRight #search input[type=text] { 
    float: left;
    width: 133px;
    height: 27px;
    background-color: #fcfcfc;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.16);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.16);
    box-shadow: inset 0 0 5px rgba(0,0,0,.16);
    line-height: 29px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #303030;
    border: 0;
    margin: 0 4px 0 0;
    padding: 0 10px;
    overflow: hidden;
}
#top .topRight #search input[type=submit] { 
    float: left;
    height: 27px;
    width: 27px;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
    background: url('../images/lupa.png') no-repeat 0 0;
}
#top #menuTop { 
    height: 23px;
    margin: 25px 90px 0;
    display: inline-block;
    background: #fff;
    padding: 0 35px 14px 41px;
    list-style: none;
}
#top #menuTop > li { 
    float: left;
    height: 23px;
    margin: 0 16px;
    position: relative;
}
#top #menuTop > li > a { 
    font-family: 'oxygenbold';
    text-transform: uppercase;
    color: #303030;
    float: left;
    height: 23px;
    line-height: 25px;
    font-size: 12px;
    letter-spacing: 0.4px;
}
#top #menuTop > li > a:hover, #top #menuTop > li > a.selected { 
    display: block;
    text-decoration: none;
    color: #3f9de5;
}
#top #menuTop > li.home { 
    margin: 6px 9px;
}
#top #menuTop > li.home > a { 
    width: 11px;
    height: 11px;
    background: url('../images/home.png') no-repeat 0 0;
}
#top #menuTop > li.home > a span { 
    display: block;
    width: 11px;
    height: 11px;
    background: #fff url('../images/home.png') no-repeat 0 100%;
    opacity: 0;
}
#top #menuTop > li div { 
    transition: height 0.5s ease;
    transition: opacity 0.5s ease;
    overflow: hidden;
    position: absolute;
    background: #3e3e3e;
    width: 175px;
    top: 23px;
    left: -10px;
    opacity: 0;
    height: 0;
}
#top #menuTop > li:hover div { 
    border-top: 1px solid #f2f2f2;
    opacity: 1;
    padding: 1px 0;
    height: auto;
}
#top #menuTop > li div ul { 
    border-top: 1px solid #323232;
    list-style: none;
    padding: 0;
    text-align: left;
}
#top #menuTop > li div ul li { 
    display: block;
    overflow: hidden;
    transition: background 0.5s ease;
}
#top #menuTop > li div ul li:hover { 
    background: #2272ae;
    position: relative;
    padding: 1px 0;
    margin: -2px 0 -1px;
}
#top #menuTop > li div ul li:hover a { 
    text-decoration: none;
    border-top: 1px solid #234f70;
    border-bottom: 1px solid #234f70;
}
#top #menuTop > li div ul li a { 
    display: block;
    overflow: hidden;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 3px rgba(0,0,0,.42);
    line-height: 15px;
    padding: 5px 12px;
    border-bottom: 1px solid #323232;
}
#base { 
    width: 100%;
    min-width: 980px;
    overflow: hidden;
    border-bottom: #fefefe 1px solid;
}
#base #main { 
    height: 380px;
    position: relative;
    margin: 0 0 53px;
}
#base #main .mainLeft { 
    float: left;
    width: 483px;
    height: 358px;
    overflow: hidden;
    margin: 11px 0 0;
    position: relative;
    z-index: 1;
}
#base #main .mainLeft img { 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#base #main .mainLeft .desc { 
    float: left;
    width: 380px;
    height: 127px;
    margin: 231px 0 0 11px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: url('../images/blue_bg.png') no-repeat 0 0;
}
#base #main .mainLeft .desc .header {
    font-family: 'oxygenbold';
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0,0,0,.23);
    margin: 15px 17px 12px 17px;
    line-height: 22px;
}
#base #main .mainLeft .desc .header a{
    text-decoration: none;
    color: #ffffff;
}

#base #main .mainLeft .desc .cont { 
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.53);
    margin: 0 17px 13px 17px;
    line-height: 15px;
}
#base #main .mainLeft .desc .date { 
    font-family: Arial;
    font-size: 11px;
    color: #fff;
    float: left;
    margin: 5px 0 0 17px;
    line-height: 15px;
}
#base #main .mainLeft .desc .details { 
    background-image: -webkit-linear-gradient(bottom, #3f3f3f, #000);
    background-image: -moz-linear-gradient(bottom, #3f3f3f, #000);
    background-image: -o-linear-gradient(bottom, #3f3f3f, #000);
    background-image: linear-gradient(to top, #3f3f3f, #000);
    width: 92px;
    height: 23px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 23px;
    float: right;
    margin: 0 22px 0 0;
}
#base #main .mainLeft .desc .details:hover { 
    text-decoration: none;
    color: #2172aa;
    cursor: pointer;
}
#base #main .mainLeft .more { 
    float: left;
    width: 87px;
    height: 27px;
    margin: 281px 0 0 5px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background: url('../images/red_bg.png') no-repeat 0 0;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,.75);
    line-height: 13px;
    text-align: center;
    padding: 25px 0;
}
#base #main .mainLeft .more:hover { 
    text-decoration: none;
    color: #2172aa;
    cursor: pointer;
}
#base #main .mainRight { 
    float: left;
    width: 483px;
    height: 366px;
    overflow: hidden;
    margin: 7px;
    position: relative;
    z-index: 1;
}
#base #main .mainRight .item { 
    width: 483px;
    height: 120px;
    overflow: hidden;
    margin: 0 0 3px;
    position: relative;
    z-index: 1;
}
#base #main .mainRight .item:hover .inside { 
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.75);
    box-shadow: 0 0 7px rgba(0,0,0,.75);
    /*background: url('../images/bg_active.png') no-repeat 0 0;*/
}
#base #main .mainRight .item .inside { 
    width: 475px;
    height: 112px;
    overflow: hidden;
    margin: 4px 4px 7px;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.08);
    box-shadow: 0 0 7px rgba(0,0,0,.08);
}
#base #main .mainRight .item .inside .insLeft { 
    width: 171px;
    height: 112px;
    overflow: hidden;
    float: left;
    cursor: pointer;
}
#base #main .mainRight .item .inside .insRight { 
    width: 304px;
    height: 100px;
    overflow: hidden;
    float: left;
}
#base #main .mainRight .item .inside .insRight a { 
    display: block;
    font-family: 'oxygenbold';
    font-size: 16px;
    line-height: 15px;
    color: #303030;
    margin: 13px 20px 3px 13px;
}
#base #main .mainRight .item .inside .insRight a:hover { 
    text-decoration: none;
    color: #2172aa;
    cursor: pointer;
}
#base #main .mainRight .item .inside .insRight .date { 
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #005ca2;
    line-height: 15px;
    margin: 0 20px 6px 13px;
}
#base #main .mainRight .item .inside .insRight .desc { 
    font-family: Arial;
    font-size: 11px;
    color: #4e4e4e;
    line-height: 15px;
    margin: 0 20px 0 15px;
}
#base #main #main_bg { 
    height: 380px;
    width: 890px;
    background: #f8f8f8;
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
}
#base .content { 
    position: relative;
    background: #fff;
    overflow: hidden;
}
#base .content .mainLeft { 
    width: 665px;
    overflow: hidden;
    float: left;
    background-color: #fafafa;
    background-image: -webkit-linear-gradient(right, #fff 65%, #f7f5f5);
    background-image: -moz-linear-gradient(right, #fff 65%, #f7f5f5);
    background-image: -o-linear-gradient(right, #fff 65%, #f7f5f5);
    background-image: linear-gradient(to left, #fff 65%, #f7f5f5);
    margin: 0 0 47px 0;
}
.main #base .content .mainLeft { 
    background: 0;
}
#base .content .mainLeft > .header { 
    overflow: hidden;
    height: 26px;
    border-bottom: 2px solid #f5f5f5;
    font-family: 'oxygenbold';
    font-size: 23px;
    color: #303030;
    padding: 25px 25px 15px;
    line-height: 26px;
}
#base .content .mainLeft > .breadcrumbs { 
    overflow: hidden;
    padding: 0;
    margin: 10px 25px 9px;
    list-style: none;
}
#base .content .mainLeft > .breadcrumbs li { 
    overflow: hidden;
    padding: 0;
    float: left;
    padding: 0 5px 0 0;
}
#base .content .mainLeft > .breadcrumbs li + li { 
    padding: 0 5px 0 12px;
    background: url('../images/separator_bread.png') no-repeat center left;
}
#base .content .mainLeft > .breadcrumbs li a, #base .content .mainLeft > .breadcrumbs li span { 
    display: block;
    font-family: Arial;
    font-size: 10px;
    color: #303030;
    line-height: 18px;
    height: 18px;
}
#base .content .mainLeft > .breadcrumbs li a:hover { 
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainLeft .gallery {
    overflow: hidden;
    margin: 0 0 22px 0;
}
#base .content .mainLeft .gallery .item {
    overflow: hidden;
    height: 120px;
    width: 621px;
    margin: 0 0 3px 22px;
}
#base .content .mainLeft .gallery .item:hover .inside {
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.75);
    box-shadow: 0 0 7px rgba(0,0,0,.75);
    /*background: url('../images/gall_bg.png') no-repeat 0 0;*/
}
#base .content .mainLeft .gallery .item .inside {
    overflow: hidden;
    height: 112px;
    width: 613px;
    margin: 4px;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.08);
    box-shadow: 0 0 7px rgba(0,0,0,.08);
}
#base .content .mainLeft .gallery .item .inside .photo {
    overflow: hidden;
    float: left;
    width: 171px;
    height: 112px;
}
#base .content .mainLeft .gallery .item .inside .photo img {
    display: block;
}
#base .content .mainLeft .gallery .item .inside .right {
    overflow: hidden;
    float: left;
    width: 420px;
    height: 112px;
}
#base .content .mainLeft .gallery .item .inside .right .title {
    overflow: hidden;
    display: block;
    font-family: 'oxygenbold';
    font-size: 16px;
    line-height: 15px;
    color: #303030;
    margin: 13px 13px 0 13px;
    cursor: pointer;
}
#base .content .mainLeft .gallery .item .inside .right .title:hover { 
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainLeft .gallery .item .inside .right .date {
    overflow: hidden;
    float: left;
    margin: 2px 25px 0 13px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #005ca2;
    line-height: 16px;
}
#base .content .mainLeft .gallery .item .inside .right .count {
    overflow: hidden;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #419e2e;
    line-height: 16px;
    margin-top: 2px;
}
#base .content .mainLeft .gallery .item .inside .right .desc {
    overflow: hidden;
    font-family: Arial;
    font-size: 11px;
    color: #4e4e4e;
    line-height: 15px;
    margin: 6px 0 0 15px;
}
#base .content .mainLeft .gallery-details {
    overflow: hidden;
    margin: 24px 0 7px 36px;
}
#base .content .mainLeft .gallery-details .item {
    overflow: hidden;
    float: left;
    position: relative;
    margin: 0 0 18px 20px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}
#base .content .mainLeft .gallery-details .item img, #base .content .mainLeft .gallery-details .item span {
    display: block;
}
#base .content .mainLeft .gallery-details .item span {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 171px;
    height: 112px;
    background: url('../images/gall_mask.png') no-repeat 0 0;
}
#base .content .mainLeft .contact {
    overflow: hidden;
    margin: 0 25px 42px;
    text-align: center;
}
#base .content .mainLeft .contact .emblem {
    overflow: hidden;
    padding: 12px 0 8px 45px;
    background: url('../images/emblem3.png') no-repeat 0 0;
    height: 15px;
    font-family: 'oxygenbold';
    font-size: 17px;
    color: #303030;
    display: inline-block;
    margin: 18px 0 33px 12px;
}
#base .content .mainLeft .contact .text {
    overflow: hidden;
    font-family: 'oxygenbold';
    font-size: 18px;
    color: #303030;
    line-height: 24px;
    margin: 0 0 5px;
}
#base .content .mainLeft .contact .trio {
    overflow: hidden;
}
#base .content .mainLeft .contact .trio > div {
    overflow: hidden;
    width: 191px;
    float: left;
    height: 75px;
    font-family: 'oxygenlight';
    font-size: 13px;
    color: #303030;
    line-height: 17px;
}
#base .content .mainLeft .contact .trio > div b {
    font-family: 'oxygenbold';
}
#base .content .mainLeft .contact .trio > div + div {
    overflow: hidden;
    width: 227px;
    background: url('../images/separator.png') no-repeat left center;
}
#base .content .mainLeft .contact .trio > div + div + div {
    overflow: hidden;
    width: 197px;
}
#base .content .mainLeft .contact .trio > div > div {
    overflow: hidden;
    height: 75px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 191px;
}
#base .content .mainLeft .contact .trio > div + div > div  {
    width: 226px;
}
#base .content .mainLeft .contact .trio > div + div + div > div {
    width: 196px;
}
#base .content .mainLeft .contact .duet {
    overflow: hidden;
    margin: 32px 0 24px;
}
#base .content .mainLeft .contact .duet div {
    overflow: hidden;
    width: 268px;
    float: left;
}
#base .content .mainLeft .contact .duet div div {
    font-family: 'oxygenbold';
    font-size: 18px;
    line-height: 20px;
    color: #303030;
}
#base .content .mainLeft .contact .duet div div + div {
    overflow: hidden;
    font-size: 13px;
    line-height: 16px;
    color: #303030;
    font-family: 'oxygenregular';
    margin: 18px 0 0 0;
}
#base .content .mainLeft .contact .duet div div + div b {
    font-family: 'oxygenbold';
}
#base .content .mainLeft .contact .duet div + div {
    float: right;
}
#base .content .mainLeft .contact .duet div + div div {
    overflow: hidden;
    font-family: 'oxygenbold';
    line-height: 20px;
    font-size: 16px;
    color: #303030;
}
#base .content .mainLeft .contact .duet div + div div + div {
    overflow: hidden;
    font-size: 15px;
    color: #b72e23;
    font-family: 'oxygenregular';
    margin: 18px 0 0 0;
}
#base .content .mainLeft .contact .envelope {
    overflow: hidden;
    height: 34px;
    position: relative;
}
#base .content .mainLeft .contact .envelope div {
    overflow: hidden;
    height: 34px;
    width: 78px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
}
#base .content .mainLeft .contact .envelope div + div {
    overflow: hidden;
    height: 16px;
    width: 100%;
    border-bottom: 2px solid #e7e7e7;
    position: absolute;
    top: 0;
    left: 0;
    background: 0;
    z-index: 0;
}
#base .content .mainLeft .contact form {
    overflow: hidden;
    margin: 35px auto 0;
    width: 303px;
}
#base .content .mainLeft .contact form input[type=text], #base .content .mainLeft .contact form textarea {
    border: 1px solid #ececec;
    padding: 10px 15px;
    margin: 0 0 6px;
    display: block;
    width: 271px;
    height: 15px;
    background-color: #fcfcfc;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.16);
    -moz-box-shadow: inset 0 0 5px rgba(0,0,0,.16);
    box-shadow: inset 0 0 5px rgba(0,0,0,.16);
    outline: 0;
    line-height: 15px;
    font-family: 'oxygenlight';
    font-size: 15px;
}
#base .content .mainLeft .contact form textarea {
    resize: vertical;
    height: 120px;
}
#base .content .mainLeft .contact form input[type=text]:focus, #base .content .mainLeft .contact form textarea:focus {
    background-color: #fcfcfc;
    -webkit-box-shadow: inset 0 0 9px #39a9db;
    -moz-box-shadow: inset 0 0 9px #39a9db;
    box-shadow: inset 0 0 9px #39a9db;
    border: solid 1px #39a8da;
}
#base .content .mainLeft .contact form input[type=submit] {
    width: 94px;
    height: 27px;
    background-color: #c43126;
    border: 0;
    margin: 5px 0 0;
    font-family: 'oxygenlight';
    font-size: 15px;
    color: #fff;
}
#base .content .mainLeft .page {
    overflow: hidden;
    margin: 0 25px 42px;
    text-align: center;
    text-align: left;
    font-family: Arial;
    font-size: 12px;
    color: #303030;
    line-height: 17px;
}
#base .content .mainLeft .page .image {
    float: left;
    margin: 0 16px 16px 0;
}
#base .content .mainLeft .page .title {
    font-family: 'oxygenbold';
    font-size: 15px;
    margin: 6px 0 11px;
    line-height: 20px;
}
#base .content .mainLeft .page .title span {
    font-size: 12px;
}
#base .content .mainLeft .page .title-blue {
    font-family: 'oxygenbold';
    font-size: 14px;
    color: #005ca2;
    text-align: center;
    line-height: 15px;
    margin: 20px 0;
}
#base .content .mainLeft .page table {
    margin: 30px 61px 30px 46px;
    border-spacing: 10px;
    border-collapse: collapse;
}
#base .content .mainLeft .page table th {
    border: 2px solid #b4b3b3;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
}
#base .content .mainLeft .page table th + th {
    vertical-align: top;
}
#base .content .mainLeft .page table td {
    border: 2px solid #b4b3b3;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
}
#base .content .mainLeft .page table td + td {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    font-size: 11px;
}
#base .content .mainLeft .virtual {
    overflow: hidden;
    padding: 4px 0 9px;
}
#base .content .mainLeft .virtual a {
    overflow: hidden;
    display: block;
    margin: 0px 26px 11px;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.08);
    box-shadow: 0 0 7px rgba(0,0,0,.08);
    line-height: 16px;
    height: 16px;
    padding: 20px 22px;
    font-family: 'oxygenbold';
    font-size: 18px;
    color: #303030;
    background: #fff;
}
#base .content .mainLeft .virtual a:hover {
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.75);
    box-shadow: 0 0 7px rgba(0,0,0,.75);
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainLeft .virtual-details {
    overflow: hidden;
    padding: 4px 0 9px;
}
#base .content .mainLeft .virtual-details a {
    overflow: hidden;
    display: block;
    margin: 0px 26px 6px;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.08);
    box-shadow: 0 0 7px rgba(0,0,0,.08);
    line-height: 16px;
    height: 16px;
    padding: 8px 22px;
    font-family: Arial;
    font-size: 12px;
    color: #303030;
    text-shadow: 1px 1px 1px rgba(255,255,255,.57);
    background: #fff;
    position: relative;
}
#base .content .mainLeft .virtual-details a span {
    display: none;
}
#base .content .mainLeft .virtual-details a:hover {
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.75);
    box-shadow: 0 0 7px rgba(0,0,0,.75);
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainLeft .virtual-details a:hover span {
    display: block;
    position: absolute;
    height: 16px;
    line-height: 16px;
    top: 8px;
    right: 15px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #da3232;
    text-shadow: 1px 1px 1px rgba(255,255,255,.57);
    text-transform: uppercase;
}
#base .content .mainLeft .search {
    overflow: hidden;
}
#base .content .mainLeft .search .results {
    overflow: hidden;
    font-family: 'oxygenbold';
    font-size: 15px;
    color: #005ca2;
    line-height: 18px;
    margin: 10px 26px 12px;
    border-bottom: 2px solid #e7e7e7;
    padding: 0 0 4px;
}
#base .content .mainLeft .search .item {
    overflow: hidden;
    margin: 0 26px 22px;
}
#base .content .mainLeft .search .item .title {
    overflow: hidden;
    line-height: 18px;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #c43126;
}
#base .content .mainLeft .search .item .title:hover { 
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainLeft .search .item .link {
    overflow: hidden;
    padding: 0 0 0 12px;
    background: url('../images/search_arrow.png') no-repeat center left;
    font-family: Arial;
    font-size: 11px;
    font-style: italic;
    color: #8f8f8f;
    line-height: 18px;
    margin: 0 0 0 9px;
}
#base .content .mainLeft .search .item .link:hover { 
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainLeft .search .item .text {
    overflow: hidden;
    font-family: Arial;
    font-size: 12px;
    color: #303030;
    line-height: 16px;
    margin: 6px 0 0;
}
#base .content .mainLeft .pager {
    overflow: hidden;
    margin: 0 75px 29px;
    float: right;
}
#base .content .mainLeft .pager a, #base .content .mainLeft .pager span {
    overflow: hidden;
    height: 12px;
    width: 17px;
    float: left;
    border-right: 1px solid #e4e4e4;
    line-height: 12px;
    margin: 4px 0 0;
    text-align: center;
    position: relative;
    font-family: Arial;
    font-size: 11px;
    color: #4e4e4e;
    cursor: pointer;
}
#base .content .mainLeft .pager a:hover, #base .content .mainLeft .pager span {
    font-size: 12px;
    font-weight: bold;
}
#base .content .mainLeft .pager a:hover { 
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainLeft .pager a.prev, #base .content .mainLeft .pager a.next {
    overflow: hidden;
    height: 19px;
    width: 19px;
    float: left;
    border: 0;
    margin: 0;
    background: url('../images/arr_left.jpg') no-repeat 0 0;
}
#base .content .mainLeft .pager a.next {
    margin: 0 0 0 -1px;
    background: url('../images/arr_right.jpg') no-repeat 0 0;
}
#base .content .mainLeft .mainGallery { 
    width: 665px;
    height: 285px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(bottom, #f5f5f5, #fcfcfc);
    background-image: -moz-linear-gradient(bottom, #f5f5f5, #fcfcfc);
    background-image: -o-linear-gradient(bottom, #f5f5f5, #fcfcfc);
    background-image: linear-gradient(to top, #f5f5f5, #fcfcfc);
    overflow: hidden;
}
#base .content .mainLeft .mainGallery .header { 
    overflow: hidden;
    height: 63px;
    position: relative;
}
#base .content .mainLeft .mainGallery .header span { 
    overflow: hidden;
    float: left;
    font-family: 'oxygenbold';
    font-size: 14px;
    color: #303030;
    line-height: 18px;
    text-transform: uppercase;
    margin: 29px 0 0 25px;
}
#base .content .mainLeft .mainGallery .header a { 
    display: block;
    overflow: hidden;
    background-image: -webkit-linear-gradient(bottom, #3f3f3f, #000);
    background-image: -moz-linear-gradient(bottom, #3f3f3f, #000);
    background-image: -o-linear-gradient(bottom, #3f3f3f, #000);
    background-image: linear-gradient(to top, #3f3f3f, #000);
    width: 112px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    right: 21px;
    top: 26px;
}
#base .content .mainLeft .mainGallery .header a:hover { 
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainLeft .mainGallery .header div { 
    overflow: hidden;
    height: 2px;
    width: 409px;
    background: #e7e7e7;
    position: absolute;
    top: 37px;
    left: 105px;
}
#base .content .mainLeft .mainGallery .row { 
    overflow: hidden;
    margin: 0 0 0 7px;
}
#base .content .mainLeft .mainGallery .row .item { 
    overflow: hidden;
    width: 159px;
    height: 215px;
    float: left;
    margin: 0 2px;
}
#base .content .mainLeft .mainGallery .row .item:hover .inside { 
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.75);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.75);
    box-shadow: 0 0 7px rgba(0,0,0,.75);
    /*background: url('../images/gallery_bg.png') no-repeat 0 0;*/
}
#base .content .mainLeft .mainGallery .row .item .inside { 
    overflow: hidden;
    width: 151px;
    height: 207px;
    margin: 4px;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.08);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.08);
    box-shadow: 0 0 7px rgba(0,0,0,.08);
}
#base .content .mainLeft .mainGallery .row .item .inside .photo { 
    overflow: hidden;
    width: 151px;
    height: 112px;
    display: block;
}
#base .content .mainLeft .mainGallery .row .item .inside .photo img { 
    display: block;
}
#base .content .mainLeft .mainGallery .row .item .inside .title { 
    overflow: hidden;
    display: block;
    cursor: pointer;
    font-family: 'oxygenbold';
    font-size: 13px;
    color: #232323;
    line-height: 15px;
    margin: 9px 11px 3px;
}
#base .content .mainLeft .mainGallery .row .item .inside .title:hover { 
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainLeft .mainGallery .row .item .inside .date { 
    overflow: hidden;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #005ca2;
    line-height: 14px;
    margin: 0 11px;
}
#base .content .mainLeft .mainWeather { 
    overflow: hidden;
    margin: 17px 21px;
}
#base .content .mainLeft .mainWeather .header { 
    font-family: 'oxygenlight';
    text-transform: uppercase;
    color: #303030;
    font-size: 13px;
}
#base .content .mainLeft .mainWeather .image { 
    overflow: hidden;
    width: 72px;
    height: 57px;
    float: left;

    background: red;
}
#base .content .mainLeft .mainWeather .text { 
    overflow: hidden;
    width: 118px;
    height: 57px;
    float: left;
    padding: 0 0 0 5px;
}
#base .content .mainLeft .mainWeather .text span { 
    font-family: Arial;
    font-size: 12px;
    color: #303030;
    line-height: 14px;
    display: block;
    margin: 14px 0 0 0;
}
#base .content .mainLeft .mainWeather .text span + span { 
    margin: 0;
}
#base .content .mainLeft .mainWeather .text span .red { 
    color: #b21612;
}
#base .content .mainLeft .mainWeather .today { 
    border: 3px solid #cadfed;
    border-left: 4px solid #cadfed;
    width: 195px;
    height: 57px;
    margin: 16px 13px 0 0;
    float:left;
    position: relative;
}
#base .content .mainLeft .mainWeather .rest { 
    overflow: hidden;
    float: left;
    width: 400px;
    height: 99px;
    margin: -20px 0 0 0;
    position: relative;
}
#base .content .mainLeft .mainWeather .rest .item { 
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
#base .content .mainLeft .mainWeather .rest .item .text { 
    width: 100px;
    height: 43px;
    overflow: hidden;
    padding: 0;
}
#base .content .mainLeft .mainWeather .rest .item .text span { 
    line-height: 16px;
    font-size: 11px;
    text-align: center;
    margin: 5px 0 0 0;
}
#base .content .mainLeft .mainWeather .rest .item .text span + span { 
    margin: 0;
}
#base .content .mainLeft .mainWeather .rest .item + .item { 
    background: url('../images/separator.png') left center no-repeat;
}
#base .content .mainLeft .mainWeather .rest .image { 
    float: none;
    margin: 0 auto;
}
#base .content .mainLeft .mainWeather .header b { 
    font-family: 'oxygenbold';
    display: block;
    font-size: 14px;
}
#base .content .mainRight { 
    width: 315px;
    overflow: hidden;
    float: left;
}
#base .content .mainRight .header { 
    height: 26px;
    overflow: hidden;
    background: #8d1a18;
    background-image: -webkit-linear-gradient(-127deg, #c43126, #8d1a18);
    background-image: -moz-linear-gradient(-127deg, #c43126, #8d1a18);
    background-image: -o-linear-gradient(-127deg, #c43126, #8d1a18);
    background-image: linear-gradient(-143deg, #c43126, #8d1a18);
    font-family: 'oxygenlight';
    font-size: 14px;
    color: #fff;
    padding: 25px 26px 15px;
}
#base .content .mainRight .header.blue { 
    background-image: -webkit-linear-gradient(-127deg, #2f81c0, #005ca2);
    background-image: -moz-linear-gradient(-127deg, #2f81c0, #005ca2);
    background-image: -o-linear-gradient(-127deg, #2f81c0, #005ca2);
    background-image: linear-gradient(-143deg, #2f81c0, #005ca2);
}
#base .content .mainRight .header b { 
    font-family: 'oxygenbold';
    line-height: 26px;
}
#base .content .mainRight ul { 
    display: block;
    padding: 19px 0 17px 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    background: #f9f9f9;
}
.main #base .content .mainRight ul { 
    padding: 19px 0 39px 0;
    background: #fff;
}
#base .content .mainRight ul.blue { 
    background: #ede498;
}
#base .content .mainRight ul li { 
    overflow: hidden;
    transition: background 0.5s ease;
    z-index: 1;
    position: relative;
    border-top: #f9f9f9 1px solid;
}
#base .content .mainRight ul.blue li { 
    border-top: #d6cd84 1px solid;
}
.main #base .content .mainRight ul li { 
    border-top: #fff 1px solid;
}
#base .content .mainRight ul li a { 
    font-family: 'oxygenbold';
    font-size: 12px;
    color: #303030;
    overflow: hidden;
    height: 31px;
    line-height: 31px;
    padding: 0 18px;
    display: block;
    cursor: pointer;
}
#base .content .mainRight ul li + li { 
    border-top: #f0f0f0 1px solid;
}
#base .content .mainRight ul.blue li + li { 
    border-top: #d6cd84 1px solid;
}
#base .content .mainRight ul li:hover { 
    background: #c3c3c3;
    z-index: 2;
    border-top: #f0f0f0 1px solid;
    border-bottom: #f0f0f0 1px solid;
    margin: -1px 0 -2px;
}
#base .content .mainRight ul.blue li:hover { 
    background: #dfc800;
    z-index: 2;
    border-top: #dfc800 1px solid;
    border-bottom: #dfc800 1px solid;
    margin: -1px 0 -2px;
}
#base .content .mainRight ul li:hover a { 
    text-decoration: none;
    border-top: #f9f9f9 1px solid;
    border-bottom: #f9f9f9 1px solid;
}
#base .content .mainRight ul.blue li:hover a { 
    border-top: #ede498 1px solid;
    border-bottom: #ede498 1px solid;
}
.main #base .content .mainRight ul li:hover a { 
    border-top: #fff 1px solid;
    border-bottom: #fff 1px solid;
}
#base .content .mainRight .download { 
    overflow: hidden;
    width: 315px;
    height: 124px;
    background: url('../images/emblem2.jpg') no-repeat top left;
    margin: 0 0 51px 0;
}
#base .content .mainRight .download a { 
    display: block;
    background: #baeaff;
    overflow: hidden;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.31);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.31);
    box-shadow: 0 0 4px rgba(0,0,0,.31);
    text-align: center;
    line-height: 23px;
    width: 132px;
    height: 23px;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #002c3f;
    cursor: pointer;
    margin: 15px 17px 20px;
}
#base .content .mainRight .download a:hover { 
    text-decoration: none;
    color: #2172aa;
}
#base .content .mainRight .download div { 
    font-family: 'oxygenlight';
    font-size: 16px;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,.4);
    line-height: 16px;
    margin: 0 0 0 16px;
}
#base .content .mainRight .download div b { 
    font-family: 'oxygenbold';
}
#base .content .mainRight .download div span { 
    font-size: 19px;
}
#links { 
    width: 100%;
    min-width: 980px;
    overflow: hidden;
    height: 182px;
    border-top: #f5f5f5 2px solid;
}
#links .container .header { 
    margin: 22px 0 7px;
    height: 20px;
    overflow: hidden;
    text-align: center;
    font-family: 'oxygenbold';
    font-size: 16px;
    color: #626262;
    line-height: 20px;
}
#links .container #slider { 
    display: block;
    height: 91px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 0 11px;
    position: relative;
}
#links .container #slider li { 
    display: inline-block;
    height: 91px;
    overflow: hidden;
    padding: 0;
    margin: 0 41px;
}
#links .container #slider li a { 
    display: table-cell;
    vertical-align: middle;
    height: 91px;
}
#links .container #slider #prev { 
    position: absolute;
    bottom: 42px;
    left: 0;
    cursor: pointer;
    height: 19px;
    width: 10px;
    background: url('../images/arrow_left.png') no-repeat 0 0;
}
#links .container #slider #next { 
    position: absolute;
    bottom: 42px;
    right: 0;
    cursor: pointer;
    height: 19px;
    width: 10px;
    background: url('../images/arrow_right.png') no-repeat 0 0;
}
#footer { 
    width: 100%;
    min-width: 980px;
    overflow: hidden;
    background: #f5f5f5;
    border-top: #fafafa 1px solid;
    border-bottom: #fafafa 1px solid;
}
#footer table { 
    width: 906px;
    margin: 0 37px;
}
#footer table tr td { 
    width:1%; 
}
#footer table tr td { 
    width:1%; 
    vertical-align: top;
}
#footer table tr td > a { 
    display: block;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #303030;
    line-height: 18px;
    margin: 21px 0 0;
    letter-spacing: 0.4;
}
#footer table tr td a:hover, #footer table tr td a.selected { 
    color: #3f9de5;
    text-decoration: none;
}
#footer table tr td > ul { 
    display: block;
    list-style: none;
    padding: 0;
    margin: 13px 0 24px;
}
#footer table tr td > ul li { 
    display: block;
    line-height: 17px;
}
#footer table tr td > ul li a { 
    font-family: Arial;
    font-size: 11px;
    line-height: 17px;
    color: #303030;
}
#copyrights { 
    text-align: center;
    font-family: Arial;
    font-size: 11px;
    color: #616161;
    line-height: 15px;
    margin: 19px 0 29px;
}
#copyrights a { 
    color: #616161;
    font-weight: bold;
}
#copyrights a:hover { 
    color: #3f9de5;
    text-decoration: none;
}

