@font-face {
    font-family: 'oxygenlight';
    src: url('oxygen-light-webfont.eot');
    src: url('oxygen-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('oxygen-light-webfont.woff') format('woff'),
        url('oxygen-light-webfont.ttf') format('truetype'),
        url('oxygen-light-webfont.svg#oxygenlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oxygenbold';
    src: url('oxygen-bold-webfont.eot');
    src: url('oxygen-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('oxygen-bold-webfont.woff') format('woff'),
        url('oxygen-bold-webfont.ttf') format('truetype'),
        url('oxygen-bold-webfont.svg#oxygenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'oxygenregular';
    src: url('oxygen-regular-webfont.eot');
    src: url('oxygen-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('oxygen-regular-webfont.woff') format('woff'),
        url('oxygen-regular-webfont.ttf') format('truetype'),
        url('oxygen-regular-webfont.svg#oxygenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'oxygenlight';
        src: url('oxygen-light-webfont.svg#oxygenlight') format('svg');
    }
    @font-face {
        font-family: 'oxygenbold';
        src: url('oxygen-bold-webfont.svg#oxygenbold') format('svg');
    }
    @font-face {
        font-family: 'oxygenregular';
        src: url('oxygen-regular-webfont.svg#oxygenregular') format('svg');
    }
}