.sonata-bc .navbar a.frontend {
    padding-left: 20px;
    line-height: 40px;
    float: right;
}

.sonata-bc div.login-logo {
    margin: 0 auto;
    width: 471px;
}

.sonata-bc div.connection {
    top: 0;
    position: relative;
    clear: both;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    left: 0;
}

.sonata-bc th.sonata-ba-list-field-header-batch {
    width: 30px;
    text-align: center;
}

.sonata-bc td.sonata-ba-list-field-batch {
    width: 30px;
    text-align: center;
}

.sonata-ba-list-field-name-title {
    width: 100px;
}

.sonata-ba-list-field-name-content_short {
    width: 300px;
}

.sonata-bc .form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 160px;
}

.sonata-bc .form-horizontal .controls {
    margin-left: 180px;
}

.kadrowanie {
    border-collapse: collapse;
    border-spacing: 0px;
}

.kadrowanie td {
    border: 1px solid #c0c0c0;
    padding: 9px;
}

#menu-edit-lists {
    float: left;
    max-width: 40%;
    margin-right: 10px;
}

#menu-edit-lists ul,
#menu-edit-lists ol {
    list-style-type: none;
}

#menu-edit-lists ol.sortable {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
}

#menu-edit-lists ol.not-sortable {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#menu-edit-lists ol.not-sortable > li,
#menu-edit-lists ol.sortable > li {
    display: block;
}

#menu-edit-lists ol.sortable > li > ol > li {
    display: block;
}

#menu-edit-lists ol.sortable > li > ol > li > ol > li {
    display: block;
}

#menu-edit-lists ol.sortable > li > ol > li > ol > li > ol > li {
    display: block;
}

#menu-edit-lists ol.sortable > li > ol > li > ol > li > ol > li > ol li {
    display: block;
}


#menu-edit-lists li > div {
    border: 1px solid #aaa;
    margin: 2px;
    background: #fff;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
}

#menu-edit-lists li > div.editing {
    color: black;
    font-weight: bold;
    background: #fff url(../../../sonataadmin/famfamfam/link_edit.png) no-repeat 98% 50%;
    border: 1px solid #555;
}

#menu-edit-lists li.new > div,
#menu-edit-lists li.new > div:hover {
    background: #efffef url(../../../sonataadmin/famfamfam/link_add.png) no-repeat 98% 50%;


}
#menu-edit-lists li.new > div:hover,
#menu-edit-lists li.new > div.editing {
    border: 1px solid #00a650;
}

#menu-edit-lists li > div:hover {
    background: #fff url(../../../sonataadmin/famfamfam/link_edit.png) no-repeat 98% 50%;
    border: 1px solid #0069D6;
}

#menu_item_edit {
    width: 740px;
    float: left
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.sortable li.placeholder {
    position: relative;
    display: block;
    border: 1px solid #bbb;
    margin: 2px;
    height: 24px;
    background: #eee;
    border-radius: 4px;
}
