<div class="column">
    {% for item in first_column %}
        <div class="item">
            <a class="photo" href="{{ path('lscms_porady_show', { 'slug': item.slug }) }}">
                {% if item.getPhotoWebPath %}
                    <img src="{{ item.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                    <div class="mask"></div>
                {% endif %}
            </a>
            <a href="{{ path('lscms_porady_show', { 'slug': item.slug }) }}" class="header">{{ item.title }}</a>

            <div class="desc">{{ item.contentshort|raw }}</div>
            <a href="{{ path('lscms_porady_show', { 'slug': item.slug }) }}" class="more">Czytaj dalej</a>
        </div>
    {% endfor %}
</div>
<div class="column">
    {% for item in second_column %}
        <div class="item">
            <a class="photo" href="{{ path('lscms_porady_show', { 'slug': item.slug }) }}">
                {% if item.getPhotoWebPath %}
                    <img src="{{ item.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                    <div class="mask"></div>
                {% endif %}
            </a>
            <a href="{{ path('lscms_porady_show', { 'slug': item.slug }) }}" class="header">{{ item.title }}</a>

            <div class="desc">{{ item.contentshort|raw }}</div>
            <a href="{{ path('lscms_porady_show', { 'slug': item.slug }) }}" class="more">Czytaj dalej</a>
        </div>
    {% endfor %}
</div>
<div class="column">
    {% for item in third_column %}
        <div class="item">
            <a class="photo" href="{{ path('lscms_porady_show', { 'slug': item.slug }) }}">
                {% if item.getPhotoWebPath %}
                    <img src="{{ item.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                    <div class="mask"></div>
                {% endif %}
            </a>
            <a href="{{ path('lscms_porady_show', { 'slug': item.slug }) }}" class="header">{{ item.title }}</a>

            <div class="desc">{{ item.contentshort|raw }}</div>
            <a href="{{ path('lscms_porady_show', { 'slug': item.slug }) }}" class="more">Czytaj dalej</a>
        </div>
    {% endfor %}
</div>
<div class="clear"></div>
{{ knp_pagination_render(entities) }}
