{% if pos == 1 %}
<div class="tiles">
    <h2>Wydarzenia należące do tego projektu:</h2>
{% endif %}

{% if pos%4 == 1 %}

    {% if pos != 1 %}
    <div class="tiles">
    {% endif %}

    <div class="tile narrow">
        <div class="img">
            <img src="{{ p_event.getThumbWebPath('list') }}" alt=""/>
        </div>
        <div class="text-wrapper">
            <time>{{ p_event.publishedat|localizeddate('short', 'none', 'pl') }}</time>
            <a href="{{ path('lscms_porady_show',{slug:p_event.getSlug}) }}" class="lead">{{ p_event.title }}</a>
        </div>

    </div>
    <div class="filler-md"></div>
    <div class="filler-md"></div>
    <div class="filler-sd"></div>
    <div class="filler-sd"></div>

{% endif %}

{% if pos%4 == 2 %}

<div class="tile narrow">
    <div class="img">
        <img src="{{ p_event.getThumbWebPath('list') }}" alt=""/>
    </div>
    <div class="text-wrapper">
        <time>{{ p_event.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:p_event.getSlug}) }}" class="lead">{{ p_event.title }}</a>
    </div>
</div>
<div class="filler-ld"></div>

{% endif %}

{% if pos%4 == 3 %}

<div class="tile narrow">
    <div class="img">
        <img src="{{ p_event.getThumbWebPath('list') }}" alt=""/>
    </div>
    <div class="text-wrapper">
        <time>{{ p_event.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:p_event.getSlug}) }}" class="lead">{{ p_event.title }}</a>
    </div>
</div>
<div class="filler-ld"></div>
<div class="filler-md"></div>
<div class="filler-md"></div>
<div class="filler-sd"></div>
<div class="filler-sd"></div>

{% endif %}


{% if pos%4 == 0 %}
<div class="tile narrow">
    <div class="img">
        <img src="{{ p_event.getThumbWebPath('list') }}" alt=""/>
    </div>
    <div class="text-wrapper">
        <time>{{ p_event.publishedat|localizeddate('short', 'none', 'pl') }}</time>
        <a href="{{ path('lscms_porady_show',{slug:p_event.getSlug}) }}" class="lead">{{ p_event.title }}</a>
    </div>
</div>

</div>
{% endif %}