.editor {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    margin: 10px;
    width: 658px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
}

a {

}

a:hover {
    text-decoration: underline;
}

p {
    line-height: 19px;
    font-family: "Arial", sans-serif;
    color: #535353;


    margin: 0;
    padding: 0;
    outline: none;
}



h2{
    font-family: "Arial", sans-serif;
}

span.red {

}

span.green {

}

p.header {

}

div.quote {

}

div.quote:before {

}

.editor ul{
    /* normaly inherited property */
    line-height: 19px;
    padding: 0;
    outline: none;
    font-size: 12px;

    margin: 5px 0;
}

.editor ul li{
    /* normaly inherited property */
    margin: 0;
    padding: 0;
    outline: none;
    line-height: 19px;
    /* defult element style */

    list-style: circle;
    padding-left: 18px;


}


.wyroznienie {
    font-family: 'oxygenbold';
    font-size: 14px;
    color: #005ca2;
    text-align: center;
    line-height: 15px;
    margin: 20px 0;
}

strong{
    font-family: "Arial", sans-serif;
}




table {
    margin: 30px 61px 30px 46px;
    border-spacing: 10px;
    border-collapse: collapse;
}
table th {
    border: 2px solid #b4b3b3;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    font-size: 12px;
}
table th + th {
    vertical-align: top;
}
table td {
    border: 2px solid #b4b3b3;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 12px;
}
table td + td {
    vertical-align: top;
    text-align: left;
    font-weight: normal;
    font-size: 11px;
}