{% extends '::base.html.twig' %}

{% block title %}Aktualności - {{ parent() }}{% endblock %}


{% block body %}



    <div class="container">
        <div class="content">
            <div class="mainLeft">
                <div class="header">
                    Aktualności
                </div>
                <ul class="breadcrumbs">
                    <li><a href="{{ path('lscms_homepage') }}">Strona główna</a></li>

                    <li><span>Aktualności</span></li>
                </ul>
                <div class="gallery">
                    {% for item in entities %}
                        {% set targetHref = path('lscms_news_show', { 'slug': item.slug })  %}
                        <div class="item">
                            <div class="inside">
                                <a href="{{ targetHref }}" class="photo">
                                    <img src="{{ item.getThumbWebPath('list') }}?{{ random(10000) }}"/>
                                </a>
                                <div class="right">
                                    <a href="{{ targetHref }}" class="title">{{ item.title }}</a>
                                    <div class="clear"></div>
                                    <div class="date">{{ item.publishedat|localizeddate('short', 'none', 'pl') }}</div>

                                    <div class="clear"></div>
                                    <div class="desc">{{ item.getContentShort }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {{ knp_pagination_render(entities) }}
            </div>
            {% include "LsCmsBundle::rightSide.html.twig" %}
        </div>
    </div>

{% endblock %}