{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}

    {#<div id="contentWrapper">
        <div class="pageHeader">
            <div class="title">
                <h1>Newsy</h1>
                <figure class="triangle1"></figure>
                <figure class="triangle2"></figure>
                <figure class="triangle3"></figure>
                <figure class="triangle4"></figure>
                <figure class="decor"></figure>
            </div>
            <div class="image news"></div>
        </div>
        <figure class="line"></figure>
        <section id="breadcrumbs">
            <ul>
                <li><a href="{{ path('lscms_homepage') }}" class="home">&nbsp;</a></li>
                <li><a href="{{ path('lscms_news') }}">Newsy</a></li>
                <li><a href="{{ path('lscms_news_show',{slug:entity.slug}) }}">{{ entity.title }}</a></li>
            </ul>
        </section>
        {% include "LsCmsBundle::leftSidebar.html.twig" %}
        <div id="newsDetail" class="wideBox">
            <section class="pageContent">
                <div class="title"><h2>{{ entity.title }}</h2></div>
                {{ entity.content|raw }}
            </section>

            {% if entity.gallery %}
                {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.gallery.photos } %}
            {% endif %}

        </div>
    </div>#}

    <div class="container">
        <div class="content">
            <div class="mainLeft">
                <div class="header">
                    {{ entity.title }}
                </div>

                <ul class="breadcrumbs">
                    <li><a href="{{ path('lscms_homepage') }}">Strona główna</a></li>
                    <li><a href="/">Aktualności</a></li>
                    <li><span>{{ entity.title }}</span></li>
                </ul>

                <div class="page">
                    {% if entity.getPhotoWebPath %}
                        <a href="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" class="image fancybox"><img src="{{ entity.getThumbWebPath('list') }}?{{ random(10000) }}"/></a>
                    {% endif %}

                    {{ entity.content|raw }}
                </div>
            </div>
            {% include "LsCmsBundle::rightSide.html.twig" %}
        </div>
    </div>




{% endblock %}
