{% extends '::base.html.twig' %}

{% block title %}{{ entity.seotitle }} - {{ parent() }}{% endblock %}
{% block description %}{{ entity.seodescription }}{% endblock %}
{% block keywords %}{{ entity.seokeywords }}{% endblock %}

{% block body %}

    {#<div id="content-wrapper">
        <div class="content">
            <section class="header bg-1"><h1>{{ entity.seotitle }}</h1>
                <a href="#" class="go-back">Powrót</a>
            </section>
            {% include "LsCmsBundle::rightSide.html.twig" with {categories : categories, label: 'Moja działalność:'} %}
            <section class="right-side">
                <article>
                    <header>
                        <h1 class="title color">{{ entity.title }}</h1>
                    </header>
                    <div class="content">
                        {% if entity.getPhotoWebPath %}
                            <a href="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" class="leading-photo fancybox">
                                <img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}"/>
                            </a>
                        {% endif %}
                        {{ entity.content|raw }}
                        {% if entity.gallery %}
                            {% include "LsCmsBundle::gallery.html.twig" with { photos: entity.gallery.photos } %}
                        {% endif %}
                    </div>
                </article>
            </section>
        </div>
    </div>#}

    <div class="container">
        <div class="content">
            <div class="mainLeft">
                <div class="header">
                    {{ entity.title }}
                </div>

                <ul class="breadcrumbs">
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="/">Gmina i miasto</a></li>
                    <li><span>Lorem ipsum dolor sit</span></li>
                </ul>

                <div class="page">
                    {% if entity.getPhotoWebPath %}
                        <a href="{{ entity.getPhotoWebPath() }}?{{ random(10000) }}" class="image fancybox"><img src="{{ entity.getThumbWebPath('detail') }}?{{ random(10000) }}"/></a>
                    {% endif %}

                    {{ entity.content|raw }}
                </div>
            </div>
            {% include "LsCmsBundle::rightSide.html.twig" %}
        </div>
    </div>

{% endblock %}
