{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block show %}
    <div class="sonata-ba-view">
        {% for name, view_group in admin.showgroups %}
            <table class="table table-bordered">
                {% if name %}
                    <tr class="sonata-ba-view-title">
                        <td colspan="2">
                            {{ admin.trans(name) }}
                        </td>
                    </tr>
                {% endif %}

                <tr class="sonata-ba-view-container">
                    <th>Dietetyk</th>
                    <td>
                        {{ object.person.firstname }}&nbsp;{{ object.person.lastname }}
                    </td>
                </tr>
                <tr class="sonata-ba-view-container">
                    <th>Klient</th>
                    <td>
                        {{ object.firstname }}&nbsp;{{ object.lastname }}<br/>
                        E-mail: {{ object.email }}<br/>
                        Tel.: {{ object.phone }}
                    </td>
                </tr>
                <tr class="sonata-ba-view-container">
                    {% for field_name in view_group.fields %}
                        {% if field_name == 'termin' and elements['termin'] is defined %}
                            {{ elements['termin']|render_view_element(object) }}
                        {% endif %}
                    {% endfor %}
                </tr>
            </table>
        {% endfor %}
    </div>
{% endblock %}
