{% extends 'SonataAdminBundle:CRUD:action.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/lscms/js/jcrop/jquery.Jcrop.css')  }}" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('bundles/lscms/js/jcrop/jquery.Jcrop.min.js') }}" type="text/javascript"></script>

<script type="text/javascript">
    var jcrop_api;
    var boundx;
    var boundy;
    function showPreview(coords) {
        var rx = {{ preview.width }} / coords.w;
        var ry = {{ preview.height }} / coords.h;
        $('#foto_kadr_x').val(Math.round(coords.x));
        $('#foto_kadr_y').val(Math.round(coords.y));
        $('#foto_kadr_x2').val(Math.round(coords.x2));
        $('#foto_kadr_y2').val(Math.round(coords.y2));
        $('.preview').css({
            width: Math.round(rx * {{ thumb_conf.photo_width }}) + 'px',
            height: Math.round(ry * {{ thumb_conf.photo_height }}) + 'px',
            marginLeft: '-' + Math.round(rx * coords.x) + 'px',
            marginTop: '-' + Math.round(ry * coords.y) + 'px'
        });
    }

    function releaseCheck() {
        this.setOptions({setSelect: [{{ thumb_conf.x }}, {{ thumb_conf.y }}, {{ thumb_conf.width }}, {{ thumb_conf.height }}]});
    }

    $(document).ready(function() {
        $('.preview-container').css({
            width: {{ preview.width }} + 'px',
            height: {{ preview.height }} + 'px',
        });
        $('.image').Jcrop({
            onChange: showPreview,
            onSelect: showPreview,
            onRelease: releaseCheck,
            aspectRatio: {{ aspect }},
            minSize: [{{ size.width }},{{ size.height }}],
            trueSize: [{{ thumb_conf.photo_width }},{{ thumb_conf.photo_height }}],
            allowSelect: false
        }, function() {
            // Store the API in the jcrop_api variable
            jcrop_api = this;
            var bounds = jcrop_api.getBounds();
            boundx = bounds[0];
            boundy = bounds[1];
            // Move the preview into the jcrop container for css positioning
            jcrop_api.animateTo([{{ thumb_conf.x }}, {{ thumb_conf.y }}, {{ thumb_conf.width }}, {{ thumb_conf.height }}]);

        });
    });
    </script>
{% endblock %}

{% block content %}
    {% set url = 'thumbSave' %}

    {% if not admin.hasRoute(url)%}
    <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <form class="form-horizontal" action="{{ admin.generateObjectUrl(url, object) }}" method="POST">
            <div>Miniatura na listę:</div>
            <table>
                <tr>
                    <td>
                        <img class="image" src="{{ object.getPhotoWebPath(type) }}" style="width: 500px;" />
                    </td>
                    <td style="vertical-align: top;">
                        <div class="preview-container" style="overflow: hidden;">
                            <img class="preview" src="{{ object.getPhotoWebPath(type) }}" style="max-width: none;"/>
                        </div>
                        <input type="hidden" name="x" id="foto_kadr_x" value="0"/>
                        <input type="hidden" name="y" id="foto_kadr_y" value="0"/>
                        <input type="hidden" name="x2" id="foto_kadr_x2" value="0"/>
                        <input type="hidden" name="y2" id="foto_kadr_y2" value="0"/>
                        <input type="hidden" name="type" value="{{ type }}"/>
                    </td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary" name="btn_update" value="{{ 'btn_update'|trans({}, 'SonataAdminBundle') }}"/>
            <a class="btn edit_link" title="Wróć do edycji" href="{{ admin.generateObjectUrl('edit', object) }}">
                <i class="icon-edit"></i>
                Wróć do edycji
            </a>
        </form>
    {% endif%}
{% endblock %}
